# Copy to .env and adjust. docker-compose reads this file automatically.
DB_NAME=fitfetch
POSTGRES_SUPER_USER=<change-me>
POSTGRES_SUPER_PASSWORD=<change-me>

APP_POSTGRES_USER=<change-me>
APP_POSTGRES_PASSWORD=<change-me>

# Host port to publish Postgres on (container port is always 5432)
DB_HOST=<change-me>
DB_PORT=5432

# API Key used to perform geocoding API calls
GOOGLE_GEO_API_KEY=<change-me>
